Repository teamshares/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color --config stylelint.config.js, eslint --fix

PostCSS: `._base` modifier compounds; remove `._component` (PRO-2101) (#440)
  CHANGELOG.md
  configs/postcss/prefix-component-classes.js
  package.json
Due: eslint --fix

Remove manual overrides for OS's health_insurance engine (has been de-engined)
  configs/esbuild.config.js
  configs/postcss.config.js
  rails-js/controllers/index.js
Due: eslint --fix

1.18.15
  CHANGELOG.md
  package.json
  scss/core-includes/_forms.scss
Due: stylelint --fix --color --config stylelint.config.js

[1.18.15] Cleanup tweak - remove health_insurance engine workarounds (#441)
  CHANGELOG.md
  configs/esbuild.config.js
  configs/postcss.config.js
  package.json
  rails-js/controllers/index.js
  scss/core-includes/_forms.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Fix TsWrapper: guard against null parentNode in connectedCallback
  rails-js/includes/ts_wrapper.js
Due: eslint --fix

Fix TsWrapper: guard against null parentNode in connectedCallback (#442)
  rails-js/includes/ts_wrapper.js
Due: eslint --fix

Fix eslint-plugin-n v18 ESM default export compat
  configs/eslint.config.js
Due: eslint --fix

Bump Node.js to 24.15.0
  .lintstagedrc.json
  .tool-versions
Due: none

Bump eslint to v10, eslint-plugin-jest to v29, postcss-mixins to v12
  package.json
  yarn.lock
Due: none

Release v1.9.0
  CHANGELOG.md
  package.json
Due: none

Add @eslint/js as explicit dependency
  package.json
  yarn.lock
Due: none

Add .ts-rich-text-field / .ts-rich-text styles for form.rich_text_area wrapper
  scss/core-includes/_forms.scss
Due: stylelint --fix --color --config stylelint.config.js

Fix ts-rich-text toolbar: remove Trix button-group borders
  scss/core-includes/_forms.scss
Due: stylelint --fix --color --config stylelint.config.js

Fix ts-rich-text link dialog, list markers, and button sizing
  scss/core-includes/_forms.scss
Due: stylelint --fix --color --config stylelint.config.js

Lighten ts-rich-text border to match shoelace sl-textarea
  scss/core-includes/_forms.scss
Due: stylelint --fix --color --config stylelint.config.js

Fix ts-rich-text link dialog button styles and width
  scss/core-includes/_forms.scss
Due: stylelint --fix --color --config stylelint.config.js

Scope toolbar group divider to .trix-button-row, not link dialog
  scss/core-includes/_forms.scss
Due: stylelint --fix --color --config stylelint.config.js

Restore list-style in .trix-content rendered output
  scss/core-includes/_forms.scss
Due: stylelint --fix --color --config stylelint.config.js

Upstream Trix/ActionText overrides from buyout and os-app
  scss/core-includes/_forms.scss
Due: stylelint --fix --color --config stylelint.config.js

Add trix to rails-includes so consuming Rails apps need not import it
  package.json
  scss/rails-includes/index.scss
  yarn.lock
Due: stylelint --fix --color --config stylelint.config.js

Release v1.9.0 (#457)
  .lintstagedrc.json
  .tool-versions
  CHANGELOG.md
  package.json
  scss/core-includes/_forms.scss
  scss/rails-includes/index.scss
  yarn.lock
Due: stylelint --fix --color --config stylelint.config.js

Add Teamshares.tsWrapper.rewriteCloned() helper for template content
  rails-js/includes/ts_wrapper.js
  rails-js/index.js
Due: eslint --fix

TsWrapper: hoist orphaned Stimulus value attrs to the controller mount
  rails-js/includes/ts_wrapper.js
Due: eslint --fix

CHANGELOG: document ts-wrapper hoisting and rewriteCloned helper
  CHANGELOG.md
Due: none

TsWrapper: fix devMode check timing in hoistOrphanedValues
  rails-js/includes/ts_wrapper.js
Due: eslint --fix

[Clean] Harden ts-wrapper: hoist orphaned Stimulus values + rewriteCloned helper (#458)
  CHANGELOG.md
  rails-js/includes/ts_wrapper.js
  rails-js/index.js
Due: eslint --fix

PRO-3316 Stop adding Shoelace elements to Rails UJS's formInputClickSelector
  CHANGELOG.md
  rails-js/index.js
Due: eslint --fix

Add yarn release and document the release + adoption process
  CHANGELOG.md
  README.md
  bin/release.js
  eslint.config.js
  package.json
Due: eslint --fix

Trim the formInputClickSelector rationale to the non-obvious part
  rails-js/index.js
Due: eslint --fix

Let guard names carry the release script's rationale
  bin/release.js
Due: eslint --fix

Name the capture-phase remedy, drop the disabled conflation
  rails-js/index.js
Due: eslint --fix

Reject unknown args, clean up a rejected tag, correct the UJS guidance
  README.md
  bin/release.js
Due: eslint --fix

Match the CHANGELOG heading exactly, not as a prefix
  README.md
  bin/release.js
Due: eslint --fix

Refuse the npm invocation that looks like a dry run and isn't
  README.md
  bin/release.js
Due: eslint --fix

Add yarn release and document the release + adoption process (#460)
  CHANGELOG.md
  README.md
  bin/release.js
  eslint.config.js
  package.json
Due: eslint --fix

Describe the absent fragments in the present tense
  rails-js/index.js
Due: eslint --fix

PRO-3316 Stop adding Shoelace elements to Rails UJS's formInputClickSelector (#459)
  CHANGELOG.md
  rails-js/index.js
Due: eslint --fix

Release v1.10.0
  CHANGELOG.md
  package.json
Due: none

Release v1.10.0 (#461)
  CHANGELOG.md
  package.json
Due: none

PRO-3325 Release v1.11.0 — Shoelace 2.8.0 textarea ResizeObserver fix
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Path conditions:
  stylelint --fix --color --config stylelint.config.js: any of: *.scss
  eslint --fix: any of: *.js
