Repository teamshares/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color --config configs/stylelint.config.js, eslint --fix

.lintstagedrc:

{
  "*.scss": ["stylelint --fix --color --config configs/stylelint.config.js"],
  "*.js": ["eslint --fix"]
}

register free font-awesome icons
  js/index.js
Due: eslint --fix

accidentally removed line
  js/index.js
Due: eslint --fix

clean up
  js/index.js
Due: eslint --fix

HEROKU_RELEASE_VERSION -> HEROKU_SLUG_COMMIT
  configs/esbuild.config.js
  js/_honeybadger.js
Due: eslint --fix

Linters...
  js/index.js
Due: eslint --fix

HEROKU_RELEASE_VERSION -> HEROKU_SLUG_COMMIT (#152)
  configs/esbuild.config.js
  js/_honeybadger.js
  js/index.js
Due: eslint --fix

As of Tailwind CSS v3.3, the '@tailwindcss/line-clamp' plugin is now included by default
  configs/tailwind.config.js
  package.json
  yarn.lock
Due: eslint --fix

As of Tailwind CSS v3.3, the '@tailwindcss/line-clamp' plugin is now included by default (#153)
  configs/tailwind.config.js
  package.json
  yarn.lock
Due: eslint --fix

Bump yaml version (yarn audit complaint)
  yarn.lock
Due: none

update shoelace
  package.json
  yarn.lock
Due: none

inline text link styling
  scss/includes/_typography.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

Attempt at fixing determining revision at build time
  configs/esbuild.config.js
Due: eslint --fix

Update @teamshares/shoelace to 1.2.0
  package.json
  yarn.lock
Due: none

Update @teamshares/shoelace to 1.2.0 (#167)
  package.json
  yarn.lock
Due: none

Extracting non-shared CSS (notifications to buyout, tables+drawers to OS)
  scss/includes/_teamshares.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

.ts-header is only used in public website, and never with a color modifier
  scss/includes/_teamshares.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

.ts-header is only used in public website, .ts-drawer__toggle is only used in OS -- they're never used together
  scss/includes/_teamshares.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

The wrappers weren't referenced in any codebase
  scss/includes/_teamshares.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

.ts-header__links wasn't referenced in any codebase
  scss/includes/_teamshares.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

[Cleanup] Extracting unused/unshared CSS (#168)
  scss/includes/_teamshares.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

remove no longer needed tailwind height, width and margin configs
  configs/tailwind.config.js
Due: eslint --fix

remove custom gridTemplateRows, inset and opacity from tailwing configs
  configs/tailwind.config.js
Due: eslint --fix

Revert "Update dependency @rails/ujs to v7.0.5 (#170)"
  package.json
  yarn.lock
Due: none

Stop renovate from auto-updating @rails/ujs
  .github/renovate.json5
Due: none

Register Font Awesome Pro resolver
  js/index.js
Due: eslint --fix

Register Font Awesome Pro resolver (#173)
  js/index.js
Due: eslint --fix

Fix: Font size to prevent zoom on mobile
  scss/includes/_teamshares.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

Fix: Font size to prevent zoom on mobile (#175)
  scss/includes/_teamshares.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

Bump shoelace version
  package.json
  yarn.lock
Due: none

Include SimpleForm + Shoelace error styling
  scss/includes/_teamshares.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

Passing in Rails as a parameter to init
  js/index.js
  package.json
  yarn.lock
Due: eslint --fix

Updating rails to 7.0.6 to match OS
  package.json
  yarn.lock
Due: none

Add return value for Rails import
  js/index.js
Due: eslint --fix

Updating comments
  js/index.js
Due: eslint --fix

Removing return option
  js/index.js
Due: eslint --fix

Mad/rails as param (#179)
  js/index.js
  package.json
  yarn.lock
Due: eslint --fix

No need to prevent @rails/ujs updates anymore
  .github/renovate.json5
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Moving styles from shared rails to shared ui
  scss/includes/_shared_app_switcher.scss
  scss/includes/index.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

Revert @teamshares/shoeace: 1.2.2 -> 1.2.1
  package.json
  yarn.lock
Due: none
