Repository teamshares/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color --config stylelint.config.js, eslint --fix

remove isStaging var
  rails-js/index.js
Due: eslint --fix

add version
  CHANGELOG.md
  package.json
Due: none

PRO-808 switch wrongly named vars (#342)
  CHANGELOG.md
  package.json
  rails-js/index.js
Due: eslint --fix

use valid versioning
  CHANGELOG.md
  package.json
Due: none

PRO-808 use valid versioning (#343)
  CHANGELOG.md
  package.json
Due: none

Update `ts-card` style to match `sl-card`
  scss/core-includes/components/_dashboard.scss
Due: stylelint --fix --color --config stylelint.config.js

Cut 1.8.8 to bump Shoelace to 2.5.0
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Slh/bump to shoelace 2.5.0 (#349)
  CHANGELOG.md
  package.json
  scss/core-includes/components/_dashboard.scss
  yarn.lock
Due: stylelint --fix --color --config stylelint.config.js

Bump nodejs version (required by lint-staged)
  .tool-versions
Due: none

linter autocorrections
  configs/cypress/sl-commands.js
  scss/core-includes/components/_dashboard.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Linter autocorrections after renovate updates (#370)
  configs/cypress/sl-commands.js
  scss/core-includes/components/_dashboard.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Slightly quieter CSS building (and confirmed works w/ new renovates)
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

Slightly quieter CSS building (and confirmed works w/ new renovates) (#371)
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

Bump to Shoelace 2.6.0
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Bump to Shoelace 2.6.0 (#379)
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS file
  .github/CODEOWNERS
Due: none

Update CODEOWNERS (#385)
  .github/CODEOWNERS
Due: none

Update cypress.config.js
  configs/cypress/cypress.config.js
Due: eslint --fix

Bump to 1.8.9.1
  CHANGELOG.md
  package.json
Due: none

Fix package.json version to valid semver 1.8.10
  package.json
Due: none

Fix stylelint compatibility: downgrade to 15.11.0 to resolve @stylistic/stylelint-plugin flatCache error
  package.json
Due: none

Update yarn.lock for stylelint 15.11.0 compatibility
  yarn.lock
Due: none

Add renovate config to prevent stylelint updates
  .github/renovate.json5
Due: none

Fix version change
  package.json
Due: none

1.8.9.1: Cypress consolidation (#404)
  .github/renovate.json5
  CHANGELOG.md
  configs/cypress/cypress.config.js
  package.json
  yarn.lock
Due: eslint --fix

Release as 1.8.10
  package.json
Due: none

Release as 1.8.10 (#410)
  package.json
Due: none

update stylelint
  .github/renovate.json5
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

[DRAFT] Attempting to resolve stylelint issues (#411)
  .github/renovate.json5
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Fix ::part() selectors under ._base for Shoelace components
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

Remove unused commonShoelaceComponents array
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

Simplify ::part() selector handling
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

Restrict ::part() support to direct nesting under ._base
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

Fix ::part() selectors under ._base for Shoelace components (#416)
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

1.8.12
  CHANGELOG.md
  package.json
Due: none

Release 1.8.12 (#417)
  CHANGELOG.md
  package.json
Due: none

Cut new version for renovates
  CHANGELOG.md
  package.json
Due: none

[1.8.13] Cut new version for renovates (#436)
  CHANGELOG.md
  package.json
Due: none

feat(postcss): _base modifier compounds; remove _component (PRO-2101)
  CHANGELOG.md
  configs/postcss/prefix-component-classes.js
  package.json
Due: eslint --fix

Path conditions:
  stylelint --fix --color --config stylelint.config.js: any of: *.scss
  eslint --fix: any of: *.js
