Repository teamshares/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color --config stylelint.config.js, eslint --fix

.lintstagedrc:

{
  "*.scss": ["stylelint --fix --color --config stylelint.config.js"],
  "*.js": ["eslint --fix"]
}

Update deprecated husky command
  bin/setup
Due: none

temporarily add health insurance stimulus conotrollers
  configs/esbuild.config.js
  package.json
  rails-js/controllers/index.js
Due: eslint --fix

temporarily add health insurance stimulus conotrollers (#262)
  configs/esbuild.config.js
  package.json
  rails-js/controllers/index.js
Due: eslint --fix

Add label class
  .tool-versions
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Using Tailwind container queries
  configs/postcss.config.js
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

WIP
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

More HotwireCon updates
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Revert .tool-versions
  .tool-versions
Due: none

First cut at table CSS
  scss/core-includes/_tables.scss
  scss/core-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Replacing nested controller attributes
  rails-js/includes/ts_wrapper.js
Due: eslint --fix

More CSS improvements; added trigger controller
  rails-js/controllers/index.js
  rails-js/controllers/trigger_controller.js
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

New PostCSS plugin to clean up the incorrectly generated class names
  configs/postcss/cleanup-component-classes.js
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Update _tables.scss
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Updating comment style, remove stale node attrs
  rails-js/includes/ts_wrapper.js
Due: eslint --fix

Updated trigger_controller, removed green logging
  configs/postcss/prefix-component-classes.js
  rails-js/controllers/trigger_controller.js
Due: eslint --fix

Fixes for HotwireCon
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Improved data-action matching; leading fix
  rails-js/includes/ts_wrapper.js
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Updated ts-wrapper to convert all Stimulus data- attributes
  rails-js/includes/ts_wrapper.js
Due: eslint --fix

Responsive label fixes
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Padding fix
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Rename trigger -> launcher, event dispatching, doNothing
  rails-js/controllers/index.js
  rails-js/controllers/launcher_controller.js
  rails-js/controllers/trigger_controller.js
  rails-js/includes/ts_wrapper.js
  rails-js/index.js
Due: eslint --fix

Update package.json
  package.json
Due: none

Add default text color and font smoothing (antialiased) decs to <body>
  scss/core-includes/_teamshares.scss
Due: stylelint --fix --color --config stylelint.config.js

Delete configs/postcss/cleanup-component-classes.js
  configs/postcss/cleanup-component-classes.js
Due: eslint --fix

Improved event handling, added toggle method
  cspell.config.yaml
  rails-js/controllers/launcher_controller.js
Due: eslint --fix

Add CHANGELOG
  CHANGELOG.md
Due: none

Mixins and fixins for tables
  configs/postcss.config.js
  configs/stylelint.config.js
  package.json
  scss/core-includes/_tables.scss
  yarn.lock
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Minor: additional comments in ts-wrapper
  rails-js/includes/ts_wrapper.js
Due: eslint --fix

CSS cleanup: breaking out styles to separate files
  scss/core-includes/_forms.scss
  scss/core-includes/_teamshares.scss
  scss/core-includes/_typography.scss
  scss/core-includes/components/_button.scss
  scss/core-includes/components/_dashboard.scss
  scss/core-includes/components/_drawer.scss
  scss/core-includes/components/_header.scss
  scss/core-includes/components/index.scss
  scss/core-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

v1.2.0: Responsive tables, enhanced Stimulus support, launcher_controller (#254)
  CHANGELOG.md
  configs/postcss.config.js
  configs/postcss/prefix-component-classes.js
  configs/stylelint.config.js
  cspell.config.yaml
  package.json
  rails-js/controllers/index.js
  rails-js/controllers/launcher_controller.js
  rails-js/includes/ts_wrapper.js
  rails-js/index.js
  scss/core-includes/_forms.scss
  scss/core-includes/_tables.scss
  scss/core-includes/_teamshares.scss
  scss/core-includes/_typography.scss
  scss/core-includes/components/_button.scss
  scss/core-includes/components/_dashboard.scss
  scss/core-includes/components/_drawer.scss
  scss/core-includes/components/_header.scss
  scss/core-includes/components/index.scss
  scss/core-includes/index.scss
  scss/index.scss
  yarn.lock
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Re-release 1.2.0 as 1.2.1
  CHANGELOG.md
Due: none

Re-release 1.2.0 as 1.2.1 (#265)
  CHANGELOG.md
Due: none

Add support for temp health insurance engine
  CHANGELOG.md
  configs/postcss.config.js
  configs/stylelint.config.js
  package.json
Due: eslint --fix

Add support for temp health insurance engine (#267)
  CHANGELOG.md
  configs/postcss.config.js
  configs/stylelint.config.js
  package.json
Due: eslint --fix

Silence warning
  configs/postcss.config.js
Due: eslint --fix

Silence warning with CSS build (#268)
  configs/postcss.config.js
Due: eslint --fix

Delete global letter-spacing; update global line-height to match body-1
  scss/core-includes/_teamshares.scss
Due: stylelint --fix --color --config stylelint.config.js

Update form error styles for Shoelace forms wrapped with Simple Form
  scss/core-includes/_forms.scss
Due: stylelint --fix --color --config stylelint.config.js
