Repository teamshares/shared-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color --config .stylelintrc.json, eslint --fix, rollup --config rollup.config.js --quiet

.lintstagedrc:

{
  "*.scss": ["stylelint --fix --color --config .stylelintrc.json"],
  "src/*.{js,jsx,ts,tsx}": ["eslint --fix", "rollup --config rollup.config.js --quiet"],
  "src/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "rollup --config rollup.config.js --quiet"]
}

Testing...
  .husky/pre-commit
  dist/application.es.js
  dist/application.js
  src/controllers/switch_controller.js
Due: eslint --fix, rollup --config rollup.config.js --quiet

Testing...
  dist/application.es.js
  dist/application.js
  src/controllers/switch_controller.js
Due: eslint --fix, rollup --config rollup.config.js --quiet

Add pre-commit hook to ensure JS changes get compiled (#37)
  .husky/pre-commit
  README.md
  dist/application.es.js
  dist/application.js
  src/controllers/switch_controller.js
Due: eslint --fix, rollup --config rollup.config.js --quiet

Removing prepare script (debugging downstream yarn install issues)
  package.json
Due: none

Add manual setup instructions to README
  README.md
Due: none

No more is-ci
  package.json
  yarn.lock
Due: none

Remove the prepare script (apparently solves yarn install issues for downstream consumers??) (#48)
  README.md
  package.json
  yarn.lock
Due: none

Try adding CODEOWNERS
  .github/CODEOWNERS
Due: none

Try adding CODEOWNERS (#50)
  .github/CODEOWNERS
Due: none

Add Elektra as well
  .github/CODEOWNERS
Due: none

Add Elektra as well (#51)
  .github/CODEOWNERS
Due: none

add x-large style
  scss/_teamshares.scss
Due: stylelint --fix --color --config .stylelintrc.json

update top and bottom padding for all the button styles
  scss/_teamshares.scss
Due: stylelint --fix --color --config .stylelintrc.json

add custom widths
  tailwind.config.js
Due: none

add px as well
  tailwind.config.js
Due: none

change opacity to decimals
  scss/_teamshares.scss
Due: stylelint --fix --color --config .stylelintrc.json

Add custom blue-50 and yellow-50
  tailwind.config.js
Due: none

Only ping Kali for dependabot PRs
  .github/CODEOWNERS
Due: none

Only ping Kali for dependabot PRs (#65)
  .github/CODEOWNERS
Due: none

Update ts-card styling
  scss/_teamshares.scss
Due: stylelint --fix --color --config .stylelintrc.json

Add custom breakpoints
  tailwind.config.js
Due: none

[Platform] Dependabot -> Renovate
  .github/dependabot.yml
  .github/renovate.json5
  bin/refresh
Due: none

[Platform] Dependabot -> Renovate (#80)
  .github/dependabot.yml
  .github/renovate.json5
  bin/refresh
Due: none

[Platform] Trying to re-trigger renovate
  .github/renovate.json5
Due: none

[Platform] Checking if renovate has re-picked-up this repo yet
  .github/renovate.json5
Due: none

[Platform] Literally pasted from a working repo...
  .github/renovate.json5
Due: none

[Platform] Renovate isn't finding the shared config; trying to kickstart by putting inline
  .github/renovate.json5
Due: none

[Platform] Renovate isn't finding the shared config; cautiously trying to add back...
  .github/renovate.json5
Due: none

[Platform] Renovate isn't finding the shared config; hmph
  .github/renovate.json5
Due: none

[Platform] It's a brand new day... maybe today is lucky?
  .github/renovate.json5
Due: none

[Platform] Ah-ha! Needed to change some org-wide secrets settings
  .github/renovate.json5
Due: none

Hmm.... apparently there's a local option?
  .github/renovate.json5
Due: none

Sigh - made the other repo public, hopefully that resolves the 404ing?
  .github/renovate.json5
Due: none

Sigh - disconnected and reconnected, retriggering now...
  .github/renovate.json5
Due: none
