Repository teamshares/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color --config configs/stylelint.config.js, eslint --fix

.lintstagedrc:

{
  "*.scss": ["stylelint --fix --color --config configs/stylelint.config.js"],
  "*.js": ["eslint --fix"]
}

Attempt to force trigger Shoelace init
  js/index.js
Due: eslint --fix

Copies shoelace icon assets over
  configs/esbuild.config.js
  js/index.js
  package.json
  yarn.lock
Due: eslint --fix

Initialize Shoelace
  js/index.js
Due: eslint --fix

Update index.js
  js/index.js
Due: eslint --fix

Load Shoelace icon assets directly instead of via CDN (#116)
  configs/esbuild.config.js
  js/index.js
  package.json
  yarn.lock
Due: eslint --fix

Shoelace is source of truth
  package.json
  scss/index.scss
  scss/tokens/index.scss
  scss/tokens/shoelace/_sl-alert.scss
  scss/tokens/shoelace/_sl-button.scss
  scss/tokens/shoelace/_sl-card.scss
  scss/tokens/shoelace/_sl-colors.scss
  scss/tokens/shoelace/_sl-details.scss
  scss/tokens/shoelace/_sl-dialog.scss
  scss/tokens/shoelace/_sl-divider.scss
  scss/tokens/shoelace/_sl-drawer.scss
  scss/tokens/shoelace/_sl-forms.scss
  scss/tokens/shoelace/_sl-global.scss
  scss/tokens/shoelace/_sl-icon.scss
  scss/tokens/shoelace/_sl-menu.scss
  scss/tokens/shoelace/_sl-select.scss
  scss/tokens/shoelace/_sl-tooltip.scss
  scss/tokens/teamshares/_ts-colors.scss
  scss/tokens/teamshares/_ts-global.scss
  scss/tokens/teamshares/_ts-typography.scss
  yarn.lock
Due: stylelint --fix --color --config configs/stylelint.config.js

Shoelace is source of truth (#119)
  package.json
  scss/index.scss
  scss/tokens/index.scss
  scss/tokens/shoelace/_sl-alert.scss
  scss/tokens/shoelace/_sl-button.scss
  scss/tokens/shoelace/_sl-card.scss
  scss/tokens/shoelace/_sl-colors.scss
  scss/tokens/shoelace/_sl-details.scss
  scss/tokens/shoelace/_sl-dialog.scss
  scss/tokens/shoelace/_sl-divider.scss
  scss/tokens/shoelace/_sl-drawer.scss
  scss/tokens/shoelace/_sl-forms.scss
  scss/tokens/shoelace/_sl-global.scss
  scss/tokens/shoelace/_sl-icon.scss
  scss/tokens/shoelace/_sl-menu.scss
  scss/tokens/shoelace/_sl-select.scss
  scss/tokens/shoelace/_sl-tooltip.scss
  scss/tokens/teamshares/_ts-colors.scss
  scss/tokens/teamshares/_ts-global.scss
  scss/tokens/teamshares/_ts-typography.scss
  yarn.lock
Due: stylelint --fix --color --config configs/stylelint.config.js

Bump Shoelace to 1.0.3
  package.json
Due: none

Bump Shoelace to 1.0.3 (#123)
  package.json
Due: none

Actually USE shoelace 1.0.3
  yarn.lock
Due: none

Update shoelace to 1.0.4
  package.json
Due: none

Update yarn.lock
  yarn.lock
Due: none

Update shoelace to 1.0.5
  package.json
  yarn.lock
Due: none

Update shoelace to 1.0.5 (#128)
  package.json
  yarn.lock
Due: none

Shoelace import fix
  package.json
  scss/index.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

Shoelace import fix (#129)
  package.json
  scss/index.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

Update ts-alert styling
  scss/includes/_teamshares.scss
  yarn.lock
Due: stylelint --fix --color --config configs/stylelint.config.js

Explanatory comment
  scss/includes/_teamshares.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

Importing Rails in shared-ui and adding shoelace selectors
  js/index.js
  package.json
  yarn.lock
Due: eslint --fix

Importing Rails in shared-ui and adding shoelace selectors (#131)
  js/index.js
  package.json
  yarn.lock
Due: eslint --fix

Add remaining Shoelace elements to UJS selectors
  js/index.js
Due: eslint --fix

Add remaining Shoelace elements to UJS selectors (#133)
  js/index.js
Due: eslint --fix

Rails UJS fixes
  js/index.js
  package.json
  yarn.lock
Due: eslint --fix

Rails UJS update (#135)
  js/index.js
  package.json
  yarn.lock
Due: eslint --fix

Bump language versions
  .tool-versions
  yarn.lock
Due: none

Bump language versions (#137)
  .tool-versions
  yarn.lock
Due: none

Revert turbo 7.3.0 -> 7.2.5
  package.json
  yarn.lock
Due: none

No really, force 7.2.5
  package.json
  yarn.lock
Due: none

But for real...
  package.json
  yarn.lock
Due: none

Revert turbo 7.3.0 -> 7.2.5 (#138)
  package.json
  yarn.lock
Due: none

Allow apps to update
  package.json
  yarn.lock
Due: none

Allow apps to update (#139)
  package.json
  yarn.lock
Due: none

Update @teamshares/shoelace to 1.0.7
  package.json
Due: none

Update @teamshares/shoelace to 1.0.7 (#142)
  package.json
Due: none

Update stylelint.config.js
  configs/stylelint.config.js
Due: eslint --fix

update shoelace to v1.1.0
  package.json
Due: none

Updating shoelace to 1.1.0
  package.json
  yarn.lock
Due: none

Updating shoelace to 1.1.0 (#145)
  yarn.lock
Due: none

Update stylelint to allow unit-less CSS variables (#143)
  configs/stylelint.config.js
Due: eslint --fix
