Repository teamshares/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color --config stylelint.config.js, eslint --fix

.lintstagedrc:

{
  "*.scss": ["stylelint --fix --color --config stylelint.config.js"],
  "*.js": ["eslint --fix"]
}

Bump to 1.3.0 and update changelog
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

New release 1.3.0, to bump Shoelace to 2.1.0 (#266)
  CHANGELOG.md
  package.json
  scss/core-includes/_forms.scss
  scss/core-includes/_teamshares.scss
  yarn.lock
Due: stylelint --fix --color --config stylelint.config.js

Bump to 1.3.1 to grab Shoelace patch release 2.1.1
  CHANGELOG.md
  package.json
Due: none

Bump to 1.3.1 to grab Shoelace patch release 2.1.1 (#270)
  CHANGELOG.md
  package.json
Due: none

Bump to 1.3.1.1 and commit yarn.lock this time
  CHANGELOG.md
  yarn.lock
Due: none

Bump to 1.3.1.1 (#271)
  CHANGELOG.md
  yarn.lock
Due: none

Bump to 1.3.2, to grab Shoelace 2.1.2
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Bump to 1.3.2, to grab Shoelace 2.1.2 (#272)
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Add pagination styles for pagy, to use across apps
  CHANGELOG.md
  package.json
  scss/core-includes/_pagination.scss
  scss/core-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Update pagination styles to also work with pagy 7
  scss/core-includes/_pagination.scss
Due: stylelint --fix --color --config stylelint.config.js

v1.4.0 Add pagination styles for pagy (#273)
  CHANGELOG.md
  package.json
  scss/core-includes/_pagination.scss
  scss/core-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

WIP
  scss/rails-includes/_pagination.scss
  scss/rails-includes/_tables.scss
  scss/rails-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

import new directory
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Bump to Shoelace 2.2.1
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Bump to @teamshares/shoelace 2.2.1 (#282)
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

1.4.1
  package.json
Due: none

1.4.2
  package.json
Due: none

Bump to 1.4.2 + changelog.md
  CHANGELOG.md
  package.json
Due: none

Ugh, typo
  CHANGELOG.md
Due: none

Bump to 1.4.2 + changelog.md (#283)
  CHANGELOG.md
  package.json
Due: none

testing
  CHANGELOG.md
  package.json
Due: none

V1.4.3 (#284)
  CHANGELOG.md
  package.json
Due: none

wip
  .tool-versions
  configs/cypress/commands.js
  configs/cypress/sl-commands.js
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

add helpers
  .tool-versions
  configs/cypress/commands.js
  configs/cypress/sl-commands.js
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

clean up
  configs/cypress/sl-commands.js
Due: eslint --fix

updates
  configs/cypress/sl-commands.js
Due: eslint --fix

Rearrange files for styles (#275)
  scss/index.scss
  scss/rails-includes/_pagination.scss
  scss/rails-includes/_tables.scss
  scss/rails-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Drop ._base children
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

Add support for Teamshares.isTest
  rails-js/controllers/launcher_controller.js
  rails-js/index.js
Due: eslint --fix

Tweak PR template
  .github/pull_request_template.md
Due: none

Change version bump to 1.6.0
  CHANGELOG.md
  package.json
Due: none

Bump version to 1.5.0
  CHANGELOG.md
  package.json
Due: none

README updates
  README.md
Due: none

Cleaner logging
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

Handle compound selectors
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

Removing ._component in sidecar styles
  configs/postcss.config.js
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

General cleanup
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

Bump nodejs version
  .tool-versions
Due: none

[View Component] [Sidecar Assets] Remove need for `._component` wrapper in component.scss (#286)
  .github/pull_request_template.md
  .tool-versions
  CHANGELOG.md
  README.md
  configs/postcss.config.js
  configs/postcss/prefix-component-classes.js
  package.json
  rails-js/controllers/launcher_controller.js
  rails-js/index.js
Due: eslint --fix
