Repository teamshares/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color --config configs/stylelint.config.js, eslint --fix

.lintstagedrc:

{
  "*.scss": ["stylelint --fix --color --config configs/stylelint.config.js"],
  "*.js": ["eslint --fix"]
}

Revert @teamshares/shoeace: 1.2.2 -> 1.2.1 (#194)
  package.json
  yarn.lock
Due: none

Updating to get tokens
  package.json
  yarn.lock
Due: none

Updating to get tokens (#195)
  package.json
  yarn.lock
Due: none

Update index.scss
  scss/index.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

Update index.scss (#196)
  scss/index.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

Pulling Tailwind tokens from shoelace
  configs/tailwind.config.js
  scss/index.scss
Due: stylelint --fix --color --config configs/stylelint.config.js, eslint --fix

Adding typography plugin config
  configs/tailwind.config.js
Due: eslint --fix

Using Tailwind's expected format for typography
  configs/tailwind.config.js
Due: eslint --fix

MAD - Tokens from shoelace (#197)
  configs/tailwind.config.js
  scss/index.scss
Due: stylelint --fix --color --config configs/stylelint.config.js, eslint --fix

upgrade shoelace to 1.3.0
  package.json
  yarn.lock
Due: none

collapse styling using nesting and use tailwind apply syntax
  scss/includes/_shared_app_switcher.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

tweaks with Sara
  scss/includes/_shared_app_switcher.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

grouping styles to consolidate
  scss/includes/_shared_app_switcher.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

remove comment
  scss/includes/_shared_app_switcher.scss
Due: stylelint --fix --color --config configs/stylelint.config.js

update gitignore
  .gitignore
Due: none

Remove shared configs (extracted to shared-rails-engine)
  configs/esbuild.config.js
  configs/eslint.config.js
  configs/postcss.config.js
  configs/stylelint.config.js
  configs/tailwind.config.js
Due: eslint --fix

Remove JS (extracted to shared-rails-engine)
  js/_honeybadger.js
  js/controllers/index.js
  js/controllers/input_mask_controller.js
  js/controllers/toggle_controller.js
  js/index.js
Due: eslint --fix

Rename to @teamshares/design-system
  .github/CODEOWNERS
  .github/pull_request_template.md
  .lintstagedrc
  .tool-versions
  README.md
  bin/setup
  eslint.config.js
  index.scss
  package.json
  scss-includes/_teamshares.scss
  scss-includes/_typography.scss
  scss/includes/index.scss
  stylelint.config.js
  utils/require-shared-config.js
  yarn.lock
Due: stylelint --fix --color --config configs/stylelint.config.js, eslint --fix

Tweaking requires
  index.scss
  utils/require-base-config.js
Due: stylelint --fix --color --config configs/stylelint.config.js, eslint --fix

Pulling back configs + adjustments for use in public-website
  configs/esbuild.config.js
  configs/eslint.config.js
  configs/postcss.config.js
  configs/stylelint.config.js
  configs/tailwind.config.js
  lib/teamshares-rails-path.js
  package.json
  scss/includes/_teamshares.scss
  scss/includes/_typography.scss
  scss/index.scss
  scss/without_shoelace/index.scss
  utils/require-base-config.js
  yarn.lock
Due: stylelint --fix --color --config configs/stylelint.config.js, eslint --fix

Add back JS linting for configs
  .lintstagedrc
  configs/eslint.config.js
  eslint.config.js
  lib/teamshares-rails-path.js
  package.json
  stylelint.config.js
Due: eslint --fix

@teamshares/ui -> @teamshares/design-system (#209)
  .github/CODEOWNERS
  .github/pull_request_template.md
  .lintstagedrc
  .tool-versions
  README.md
  bin/setup
  configs/esbuild.config.js
  configs/postcss.config.js
  configs/tailwind.config.js
  eslint.config.js
  js/_honeybadger.js
  js/controllers/index.js
  js/controllers/input_mask_controller.js
  js/controllers/toggle_controller.js
  js/index.js
  lib/teamshares-rails-path.js
  package.json
  scss/index.scss
  scss/without_shoelace/index.scss
  stylelint.config.js
  yarn.lock
Due: stylelint --fix --color --config configs/stylelint.config.js, eslint --fix

Experimenting with making dependencies NOT dev-only
  package.json
  yarn.lock
Due: none

Experimenting with making dependencies NOT dev-only (#210)
  package.json
  yarn.lock
Due: none

Explicitly setting repository field
  bin/setup
  configs/esbuild.config.js
  package.json
Due: eslint --fix

Remove manual JS importing (will pull as actual JS package) (#211)
  bin/setup
  configs/esbuild.config.js
  package.json
Due: eslint --fix

Add support for finding teamshares_rails on heroku
  lib/teamshares-rails-path.js
Due: eslint --fix

JS back from teamshares_rails
  configs/esbuild.config.js
  eslint.config.js
  package.json
  rails-js/_honeybadger.js
  rails-js/controllers/index.js
  rails-js/controllers/input_mask_controller.js
  rails-js/controllers/toggle_controller.js
  rails-js/index.js
  yarn.lock
Due: eslint --fix

Import controllers separately
  rails-js/index.js
Due: eslint --fix

JS back to @teamshares/design-system (#212)
  configs/esbuild.config.js
  eslint.config.js
  package.json
  rails-js/_honeybadger.js
  rails-js/controllers/index.js
  rails-js/controllers/input_mask_controller.js
  rails-js/controllers/toggle_controller.js
  rails-js/index.js
  yarn.lock
Due: eslint --fix

Add Teamshares.deploy_context (and inline Honeybadger initialization)
  rails-js/_honeybadger.js
  rails-js/index.js
Due: eslint --fix

[JS] Add Teamshares.deploy_context (and inline Honeybadger initialization) (#213)
  rails-js/_honeybadger.js
  rails-js/index.js
Due: eslint --fix

Add setup instructions to README
  .github/pull_request_template.md
  README.md
Due: none

Update README w/ setup instructions (#214)
  .github/pull_request_template.md
  README.md
Due: none

Added Tailwind container query plugin
  configs/tailwind.config.js
  package.json
  yarn.lock
Due: eslint --fix

Add Tailwind container query plugin (#221)
  configs/tailwind.config.js
  package.json
  yarn.lock
Due: eslint --fix

Expose the git sha of the deployed app to JS
  rails-js/index.js
Due: eslint --fix

Expose the git sha of the deployed app to JS (#222)
  rails-js/index.js
Due: eslint --fix

Address 'eslint:recommended' deprecation warning
  configs/eslint.config.js
Due: eslint --fix

Remove manual hacks -- upstream has been updated and can be used directly
  configs/eslint.config.js
  package.json
  yarn.lock
Due: eslint --fix
