Repository teamshares/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color --config stylelint.config.js, eslint --fix

[Linters] Modernize eslint configs + resolve deprecation issue (#215)
  configs/eslint.config.js
  package.json
  yarn.lock
Due: eslint --fix

Extracting shared cypress config
  configs/cypress/config.js
  package.json
  yarn.lock
Due: eslint --fix

Add linting of new configs
  configs/cypress/cypress.config.js
  eslint.config.js
Due: eslint --fix

Add support for AJ's upcoming flipper group additions to teamshares_rails
  configs/cypress/commands.js
Due: eslint --fix

Extracting shared cypress commands
  configs/cypress/commands.js
Due: eslint --fix

[JS] Extract shared cypress config/commands (#216)
  configs/cypress/commands.js
  configs/cypress/cypress.config.js
  eslint.config.js
  package.json
  yarn.lock
Due: eslint --fix

Extracting initialization of shared JS libraries
  rails-js/index.js
Due: eslint --fix

Shared JS: extracting stimulus
  package.json
  rails-js/controllers/index.js
  rails-js/controllers/input_mask_controller.js
  yarn.lock
Due: eslint --fix

Set window.Teamshares + expose Rails
  rails-js/index.js
Due: eslint --fix

Allow JS to reference window.Teamshares
  configs/eslint.config.js
Due: eslint --fix

Teamshares.init() -> Teamshares.start()
  rails-js/index.js
Due: eslint --fix

[JS] Initialize shared libraries from shared code (#217)
  configs/eslint.config.js
  package.json
  rails-js/controllers/index.js
  rails-js/controllers/input_mask_controller.js
  rails-js/index.js
  yarn.lock
Due: eslint --fix

Back away from rails/ujs 7.1.1 (known bugs)
  package.json
  yarn.lock
Due: none

Revert one further back
  package.json
  yarn.lock
Due: none

Back away from rails/ujs 7.1.1 (known bugs) (#223)
  package.json
  yarn.lock
Due: none

Cleanup tweaks
  .github/renovate.json5
  README.md
Due: none

Cleanup tweaks (README + renovate config) (#225)
  .github/renovate.json5
  README.md
Due: none

Update to latest @teamshares/shoelace
  package.json
  yarn.lock
Due: none

Auto-include shared + component CSS
  configs/postcss.config.js
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Move JS to /app/frontend/javascript
  README.md
  configs/esbuild.config.js
  configs/eslint.config.js
Due: eslint --fix

Support loading component controllers via glob
  configs/esbuild.config.js
  package.json
  rails-js/controllers/index.js
  yarn.lock
Due: eslint --fix

Auto-register stimulus controllers
  configs/esbuild.config.js
  rails-js/controllers/index.js
Due: eslint --fix

Misc cleanup
  configs/eslint.config.js
  configs/postcss.config.js
  rails-js/controllers/index.js
Due: eslint --fix

Remove esbuild-plugin-stimulus
  configs/esbuild.config.js
  package.json
  yarn.lock
Due: eslint --fix

Tweaks
  configs/postcss.config.js
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Auto-initialize shared + application stimulus controllers
  rails-js/controllers/index.js
  rails-js/index.js
Due: eslint --fix

Move CSS to app/frontend
  configs/tailwind.config.js
Due: eslint --fix

Reorganize SCSS (core vs TS)
  scss/core-includes/_teamshares.scss
  scss/core-includes/_typography.scss
  scss/core-includes/index.scss
  scss/index.scss
  scss/ts-includes/_shared_app_switcher.scss
  scss/ts-includes/index.scss
  scss/without_shoelace/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Support loading css-modulized component styles
  configs/postcss.config.js
  package.json
  yarn.lock
Due: eslint --fix

Support nested app controllers
  rails-js/controllers/index.js
Due: eslint --fix

Rename ts-app-includes
  scss/index.scss
  scss/ts-app-includes/_shared_app_switcher.scss
  scss/ts-app-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Fix @teamshares-rails path
  configs/esbuild.config.js
Due: eslint --fix

[ViewComponent] Developer Experience improvements (#230)
  README.md
  configs/esbuild.config.js
  configs/eslint.config.js
  configs/postcss.config.js
  configs/tailwind.config.js
  package.json
  rails-js/controllers/index.js
  rails-js/index.js
  scss/core-includes/_teamshares.scss
  scss/core-includes/_typography.scss
  scss/core-includes/index.scss
  scss/index.scss
  scss/ts-app-includes/_shared_app_switcher.scss
  scss/ts-app-includes/index.scss
  scss/without_shoelace/index.scss
  yarn.lock
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Tag new @teamshares/platform team, not just Kali
  .github/CODEOWNERS
Due: none

[CODEOWNERS] Tag new @teamshares/platform team, not just Kali (#232)
  .github/CODEOWNERS
Due: none

Update to latest @teamshares/shoelace (#227)
  package.json
  yarn.lock
Due: none

Switch to prefixing component styles
  configs/postcss.config.js
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

Add ts-wrapper component placeholder
  rails-js/includes/ts_wrapper.js
  rails-js/index.js
Due: eslint --fix

Tried (and then reverted) updating deprecated postcss plugin syntax
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

WIP
  configs/postcss.config.js
Due: eslint --fix

Path conditions:
  stylelint --fix --color --config stylelint.config.js: any of: *.scss
  eslint --fix: any of: *.js
