Repository teamshares/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color --config stylelint.config.js, eslint --fix

.lintstagedrc:

{
  "*.scss": ["stylelint --fix --color --config stylelint.config.js"],
  "*.js": ["eslint --fix"]
}

Remove leftover traces that prevent css from building
  CHANGELOG.md
  package.json
  scss/core-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Remove leftover traces that prevent css from building (#293)
  CHANGELOG.md
  package.json
  scss/core-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

ESLint updates
  package.json
  scss/core-includes/_forms.scss
  yarn.lock
Due: stylelint --fix --color --config stylelint.config.js

Upgrade JS pipeline
  configs/eslint.config.js
  package.json
  yarn.lock
Due: eslint --fix

Upgrade CSS pipeline
  package.json
  scss/core-includes/_forms.scss
  scss/core-includes/_teamshares.scss
  scss/core-includes/components/index.scss
  scss/index.scss
  scss/rails-includes/_pagination.scss
  scss/rails-includes/_tables.scss
  yarn.lock
Due: stylelint --fix --color --config stylelint.config.js

Prepare to cut 1.7.0
  CHANGELOG.md
  package.json
Due: none

Bump to 1.6.2 + changelog.md
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Bump to 1.6.2 + changelog.md (#297)
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Forgot to hit save before 🤦🏻‍♀️
  CHANGELOG.md
Due: none

Forgot to hit save before 🤦🏻‍♀️ (#298)
  CHANGELOG.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

Upgrade asset pipeline dependencies (#296)
  CHANGELOG.md
  configs/eslint.config.js
  package.json
  scss/core-includes/_forms.scss
  scss/core-includes/_teamshares.scss
  scss/core-includes/components/index.scss
  scss/index.scss
  scss/rails-includes/_pagination.scss
  scss/rails-includes/_tables.scss
  yarn.lock
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Husky v9 compatibility
  .husky/pre-commit
Due: none

Bump version
  CHANGELOG.md
  package.json
Due: none

Tighter husky precommit
  .husky/pre-commit
Due: none

Husky update + prepare for v1.7 release (#299)
  .husky/pre-commit
  CHANGELOG.md
  package.json
Due: none

update command
  configs/cypress/sl-commands.js
Due: eslint --fix

changelog and version
  CHANGELOG.md
  package.json
Due: none

[Platform] Add cypress helpers (#285)
  CHANGELOG.md
  configs/cypress/commands.js
  configs/cypress/sl-commands.js
  configs/postcss/prefix-component-classes.js
  package.json
Due: eslint --fix

Switch to pinned versions (updated) to resolve yarn audit issues
  package.json
  yarn.lock
Due: none

Version bump
  CHANGELOG.md
  package.json
Due: none

Switch to pinned versions (updated) to resolve yarn audit issues (#302)
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Update shoelace and bump version
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

merge main
  CHANGELOG.md
Due: none

v1.8.2 (#304)
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

update helpers
  CHANGELOG.md
  configs/cypress/sl-commands.js
  package.json
Due: eslint --fix

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update cypress helpers, version bump (#309)
  CHANGELOG.md
  configs/cypress/sl-commands.js
  package.json
Due: eslint --fix

Add release instructions to README
  CHANGELOG.md
  README.md
Due: none

Add release instructions to README (#321)
  CHANGELOG.md
  README.md
Due: none

Cut 1.8.4
  CHANGELOG.md
  package.json
Due: none

Cut 1.8.4 (bump esbuild) (#331)
  CHANGELOG.md
  package.json
Due: none

Cut 1.8.5 (bump Shoelace to 2.3.2)
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Cut 1.8.5 (bump Shoelace to 2.3.2) (#337)
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Cut 1.8.6 (bump Shoelace to 2.4.0)
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Cut 1.8.6 (bump Shoelace to 2.4.0) (#341)
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

could this fix it
  rails-js/index.js
Due: eslint --fix
