Repository teamshares/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color --config stylelint.config.js, eslint --fix

Move init logging to debug level
  rails-js/index.js
Due: eslint --fix

Extract shared-app-switcher styles
  scss/index.scss
  scss/ts-app-includes/_shared_app_switcher.scss
  scss/ts-app-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Speed up CSS compilation (tighter glob focus)
  configs/postcss.config.js
  configs/tailwind.config.js
Due: eslint --fix

Ensure nested CSS handled properly
  configs/postcss.config.js
Due: eslint --fix

Automatic Stimulus+CSS support via wrapper (#233)
  configs/postcss.config.js
  configs/postcss/prefix-component-classes.js
  rails-js/includes/ts_wrapper.js
  rails-js/index.js
Due: eslint --fix

View Component Cleanup (#234)
  configs/postcss.config.js
  configs/tailwind.config.js
  rails-js/index.js
  scss/index.scss
  scss/ts-app-includes/_shared_app_switcher.scss
  scss/ts-app-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

testing
  configs/esbuild.config.js
  rails-js/controllers/index.js
Due: eslint --fix

Fix resolving node_modules from teamshares-rails JS
  configs/esbuild.config.js
Due: eslint --fix

Ensure cached teamshares-rails dir actually exists
  lib/teamshares-rails-path.js
Due: eslint --fix

Fix resolving node_modules from teamshares-rails JS (#236)
  configs/esbuild.config.js
  lib/teamshares-rails-path.js
Due: eslint --fix

Un-hide ts-wrapper
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Fix: Un-hide ts-wrapper when :not(:defined) (#238)
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Display: contents for ts-wrapper
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Attempt to fix bottom border issue
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js

[Hotfix] Display: contents for ts-wrapper (#239)
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Fix: CI error
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js

[Hotfix]: @apply "circular dependency" error (#240)
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Better ts-wrapper nested border fix
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Added EOF space
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js

[Hotfix] Better ts-wrapper nested border fix (#241)
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Change `yarn upgrade` to `yarn add`
  README.md
Due: none

Change `yarn upgrade` to `yarn add` (#242)
  README.md
Due: none

Pulled in @teamshares/shoelace 2.0.1
  package.json
  yarn.lock
Due: none

Pulled in @teamshares/shoelace 2.0.1 (#243)
  package.json
  yarn.lock
Due: none

Fix PLA-83: rearrange PostCSS plugins
  configs/postcss.config.js
Due: eslint --fix

Fix PLA-83: rearrange PostCSS plugins (#247)
  configs/postcss.config.js
Due: eslint --fix

Remove ts-wrapper and reparent children
  configs/postcss/prefix-component-classes.js
  rails-js/includes/ts_wrapper.js
  rails-js/index.js
Due: eslint --fix

First cut at table CSS
  scss/core-includes/_tables.scss
  scss/core-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Update _tables.scss
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Add label class
  .tool-versions
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Add wrapper-classes and hoist options
  rails-js/includes/ts_wrapper.js
Due: eslint --fix

Remove now-unnecessary css fixes
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Updating version number
  package.json
Due: none

Update package.json
  package.json
Due: none

Removing tables from this branch
  .tool-versions
  scss/core-includes/_tables.scss
  scss/core-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Adding `Run all` flag for local Cypress
  configs/cypress/cypress.config.js
Due: eslint --fix

ts-wrapper transformation on connectedCallback (#244)
  configs/cypress/cypress.config.js
  configs/postcss/prefix-component-classes.js
  package.json
  rails-js/includes/ts_wrapper.js
  rails-js/index.js
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Path conditions:
  stylelint --fix --color --config stylelint.config.js: any of: *.scss
  eslint --fix: any of: *.js
