Repository teamshares/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color --config stylelint.config.js, eslint --fix

.lintstagedrc:

{
  "*.scss": ["stylelint --fix --color --config stylelint.config.js"],
  "*.js": ["eslint --fix"]
}

Revert previous postCSS fix
  configs/postcss.config.js
Due: eslint --fix

Hotfix - Revert previous postCSS fix (#249)
  configs/postcss.config.js
Due: eslint --fix

New PostCSS plugin to clean up the incorrectly generated class names
  configs/postcss.config.js
  configs/postcss/cleanup-component-classes.js
  configs/postcss/prefix-component-classes.js
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Add `ts-text-link` and `ts-text-link-light` styles to typography.scss
  scss/core-includes/_typography.scss
Due: stylelint --fix --color --config stylelint.config.js

Simple component CSS wrapping
  configs/postcss.config.js
  configs/postcss/prefix-component-classes.js
  package.json
  yarn.lock
Due: eslint --fix

File path based logging
  configs/postcss/prefix-component-classes.js
Due: eslint --fix

Add link styles to typography.scss (#251)
  scss/core-includes/_typography.scss
Due: stylelint --fix --color --config stylelint.config.js

Simple component CSS wrapping (#252)
  configs/postcss.config.js
  configs/postcss/prefix-component-classes.js
  package.json
  yarn.lock
Due: eslint --fix

Replacing nested controller attributes
  rails-js/includes/ts_wrapper.js
Due: eslint --fix

Revert .tool-versions
  .tool-versions
Due: none

New PostCSS plugin to clean up the incorrectly generated class names
  configs/postcss/cleanup-component-classes.js
  scss/index.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

First cut at table CSS
  scss/core-includes/_tables.scss
  scss/core-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Update _tables.scss
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Add label class
  .tool-versions
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Using Tailwind container queries
  configs/postcss.config.js
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

More CSS improvements; added trigger controller
  rails-js/controllers/index.js
  rails-js/controllers/trigger_controller.js
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

WIP
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Fixes for HotwireCon
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

More HotwireCon updates
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Updating to grab Shoelace fixes
  package.json
  yarn.lock
Due: none

Updating to grab Shoelace fixes (#253)
  package.json
  yarn.lock
Due: none

Updated trigger_controller, removed green logging
  configs/postcss/prefix-component-classes.js
  rails-js/controllers/trigger_controller.js
Due: eslint --fix

Updated ts-wrapper to convert all Stimulus data- attributes
  rails-js/includes/ts_wrapper.js
Due: eslint --fix

Updating comment style, remove stale node attrs
  rails-js/includes/ts_wrapper.js
Due: eslint --fix

Improved data-action matching; leading fix
  rails-js/includes/ts_wrapper.js
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Padding fix
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Responsive label fixes
  scss/core-includes/_tables.scss
Due: stylelint --fix --color --config stylelint.config.js

Rename trigger -> launcher, event dispatching, doNothing
  package.json
  rails-js/controllers/index.js
  rails-js/controllers/launcher_controller.js
  rails-js/controllers/trigger_controller.js
  rails-js/includes/ts_wrapper.js
  rails-js/index.js
  yarn.lock
Due: eslint --fix

Update package.json
  package.json
Due: none

Mixins and fixins for tables
  configs/postcss.config.js
  configs/stylelint.config.js
  package.json
  scss/core-includes/_tables.scss
  yarn.lock
Due: stylelint --fix --color --config stylelint.config.js, eslint --fix

Improved event handling, added toggle method
  cspell.config.yaml
  rails-js/controllers/launcher_controller.js
Due: eslint --fix

Delete configs/postcss/cleanup-component-classes.js
  configs/postcss/cleanup-component-classes.js
Due: eslint --fix

CSS cleanup: breaking out styles to separate files
  scss/core-includes/_forms.scss
  scss/core-includes/_teamshares.scss
  scss/core-includes/_typography.scss
  scss/core-includes/components/_button.scss
  scss/core-includes/components/_dashboard.scss
  scss/core-includes/components/_drawer.scss
  scss/core-includes/components/_header.scss
  scss/core-includes/components/index.scss
  scss/core-includes/index.scss
Due: stylelint --fix --color --config stylelint.config.js

Minor: additional comments in ts-wrapper
  rails-js/includes/ts_wrapper.js
Due: eslint --fix

Add default text color and font smoothing decs to <body>
  scss/core-includes/_teamshares.scss
Due: stylelint --fix --color --config stylelint.config.js

Add default text color and font smoothing (antialiased) decs to <body>
  scss/core-includes/_teamshares.scss
Due: stylelint --fix --color --config stylelint.config.js

Remove caching in teamshares-rails-path
  lib/teamshares-rails-path.js
Due: eslint --fix

Remove caching in teamshares-rails-path (#256)
  lib/teamshares-rails-path.js
Due: eslint --fix
